<h1>{{title}}</h1>
<p>Welcome to {{sub}}</p>

<main>
    <img src="/images/template.png" id="ancla">
    <div id="ojos">
        <img src="/images/eye.png" class="ojos" style="top:-124px;left:18px;">
        <img src="/images/eye.png" class="ojos"style="top:-124px;left:68px;">
    </div>
</main>